body {
  background-color: #E2EAEC;
}

h1 {
  font-family: Cambria;font-style: bold;
}

p{
  display: inline;
}

.label {
  border-style: ridge;
  border-color: #4F77AA;
  border-width: 3px;
  background-color: #AAC9DD;
}