<!DOCTYPE html>
<html>
<title>Graphite Exfoliation</title>

 <!-- main css stylesheet -->
 <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

<head>
    <h1>Graphite Exfoliation</h1>
</head>

<body>
    <p class="label">Overall Movement Controls</p>
    <br><br>
    <button type="button">Start</button>
    <button type="button">Stop</button>
    <button type="button">Pause</button>
    <button type="button">Resume</button><br><br><br>

<div>
    <p class="label">Exfoliation Controls</p>
    <br><br>

<p><label for="Exfoliation no."><u><b>Exfoliation no. (Tape)</b></u></label>
<input type="range" value="4" min="4" max="100" oninput="this.nextElementSibling.value = this.value">
<output>4</output></p2><br>

<p><label for="Exfoliation no."><u><b>Exfoliation no. (Substrate)</b></u></label>
<input type="range" value="4" min="4" max="100" oninput="this.nextElementSibling.value = this.value">
<output>4</output></p3><br><br><br>

    <p class="label">Position on Board</p>
    <br><br>

 <p><button type="button">Graphite</button>
 <button type="button">Tape</button><br>

<label for="Substrate no."><u><b>Substrate no.</b></u></label>
<input type="range" value="1" min="1" max="4" oninput="this.nextElementSibling.value = this.value">
<output>1</output></p4><br><br><br>


    <p class="label">Misc. Controls</p>
    <br><br>

<p5><label for="Movement speed"><u><b>Movement speed</b></u></label>
<input type="number" min="0" step="100"></p5><br>

<p6><label for="file"><b><u>Exfoliation Progress</u></b></label>

<progress id="Progress-Bar" min="0" max="100" value="70" > 70% </progress></p6>

</div>

</body>

</html>


